/*! HTML5 Boilerplate v6.1.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
  font-family: 'Cantarell', sans-serif;
}

body.home {
  background-color: rgb(0, 0, 0);
  color: rgb(50,50,50);
}

.slides {
  margin-bottom: 50vh;
  background-color: rgb(0, 0, 0);
}

.slides .up {
  z-index: 20;
  position: fixed;
  top: 1em;
  right: 1em;
}
.slides .up a {
  font-size: 2em;
  color: #aaaaaa;
  text-decoration: none;
  outline: none;
}
.slides .up a:hover {
  color: white;
}

.slides .slide {
  z-index: 10;
  height: 100vh;
  position: relative;
  /* background-color: rgba(255,255,255,0.3); */
  background: linear-gradient(to right, rgba(148,148,148,1) 0%, rgba(148,148,148,1) 2em, rgba(133,133,133,1) 2em, rgba(133,133,133,1) 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0 0 2em 0;
  padding: 0 2em;
}
.slides .slide+.slide {
  margin-top: 10px;
}
.slides .slide:last-child {
  border-radius: 0;
}

.slide a {
  color: inherit;
}

.slide.head {
  z-index: 100;
  display: block;
  background: rgba(153,153,153,1);
  background-image: url('../img/phil.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 50%;
}
/* .slide.head > h1 {
  position: absolute;
  top: 65%;
  left: 0.3em;
  right: 0.3em;
  text-align: center;
  font-size: 7.5vw;
  margin: 0;
  transform-origin: top left;
  transform: rotate(-22deg);
} */
.slide.head > h1 {
  position: absolute;
  bottom: 0.3em;
  right: 0.3em;
  font-size: 6vh;
  margin: 0;
  transform-origin: right top;
  transform: rotate(90deg) translate(0.4em, 0.4em);
}

.slide p {
  margin-left: 1em;
  margin-right: 1em;
}

.slide.about {
  text-align: center;
}
.slide.docs {
  text-align: center;
}

.slide.project {
  text-align: center;
}
.slide.project h2 {
}
.slide.project .launcher {
  margin-top: 3em;
}
.slide.project .launcher a.button {
  background-color: rgba(255,255,255,0.5);
  border-radius: 1em;
  color: black;
  text-decoration: none;
  padding: 1em;
}
.slide.project a.button:hover {
  background-color: rgba(255,255,255,0.9);
}

#foot {
  z-index: 0;
}
#foot div {
  text-align: center;
  position: fixed;
  top: 50vh;
  right: 0;
  bottom: 0;
  left: 0;
  color: gray;
  display: flex;
  flex-flow: column;
  flex-direction: column;
  justify-content: center;
}
#foot a {
  color: inherit;
}

body.doc {
  background-color: rgb(200, 200, 200);
  color: rgb(0, 0, 0);
  padding: 1em;
  background-image: url('../img/phil.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
  background-attachment: fixed;
}

div.doc {
  background-color: rgba(220, 220, 220, 0.9);
  max-width: 60em;
  margin: auto;
  padding: 1em;
  border-radius: 2em;
}

@media (min-width:40em) {
  .slide.head > h1 {
    top: auto;
    bottom: 0.3em;
    right: 0.3em;
    left: auto;
    transform: none;
    font-size: 6vw;
  }
}

@media (min-width:320px)  { /* smartphones, iPhone, portrait 480x320 phones */ }
@media (min-width:481px)  { /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */ }
@media (min-width:641px)  { /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */ }
@media (min-width:961px)  { /* tablet, landscape iPad, lo-res laptops ands desktops */ }
@media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */ }
@media (min-width:1281px) { /* hi-res laptops and desktops */ }

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster */
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
